* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --lightness: 100%;
  --bgLightness: 14.96%;

  --maxWpadd: 15px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: normal;
  font-weight: 400;

  color-scheme: light dark;
  color: oklch(var(--lightness) 0 0 / 87%);
  background-color: oklch(var(--bgLightness) 0 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body,
html,
#app {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;

  overflow-x: hidden;
  overflow-y: auto;
}

#app {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --lightness: 0%;
    --bgLightness: 100%;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.max-w {
  max-width: 800px;
  padding-left: var(--maxWpadd);
  padding-right: var(--maxWpadd);
  margin-left: auto;
  margin-right: auto;
}
.w-100 {
  width: 100%;
}
.blur-bg {
  background-color: oklch(var(--bgLightness) 0 0 / 0.5);
  backdrop-filter: blur(20px);

  &.low-blur {
    backdrop-filter: blur(8px);
  }
}

/* -------------------------------------------- TRANSITIONS */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.list-fade-move,
.list-fade-enter-active,
.list-fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.list-fade-enter-from,
.list-fade-leave-to {
  opacity: 0;
}
.list-fade-leave-active {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.grid-fade-move,
.grid-fade-enter-active,
.grid-fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.grid-fade-enter-from,
.grid-fade-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
.grid-fade-leave-active {
  position: absolute;
}

/* -------------------------------------------- TRANSITIONS */
